* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#gridContent {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
}

.container {
    background-color: white;
    position: relative;
    background-color: rgba($color: #fff, $alpha: 0.5);
    padding: 1em;

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: darkgreen;
    }

    .textWrapper {
        background-color: rgba($color: #000000, $alpha: 0.7);
        padding: 2em;
    }

    h3 {
        font-size: 30px;
        color: white;
    }

    p {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
    }
}

#rowContent {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: grid;
    grid-template-rows: 100%;
    grid-row-gap: 0.2em;
}

.rowDiv {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 100%;

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: darkgreen;
    }

    h3 {
        width: 55%;
        padding: 15px;
        padding-top: 30px;
        font-size: 42px;
        float: left;
    }

    img {
        float: right;
        height: 200px;
        padding: 15px;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 1600px) {
    #gridContent {
        width: 80%;
    }

    #rowContent {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    #gridContent {
        width: 90%;
        grid-template-columns: repeat(2, auto);
    }

    #rowContent {
        width: 90%;

        h3 {
            width: 50%;
            padding: 15px;
            padding-top: 30px;
            font-size: 24px;
            float: left;
        }
    }
}

@media only screen and (max-width: 835px) {
    #gridContent {
        width: 100%;
        display: block;
    }

    #rowContent {
        width: 100%;

        h3 {
            width: 40%;
            padding: 15px;
            padding-top: 30px;
            font-size: 23px;
            float: left;
        }
    }
}

@media only screen and (max-width: 605px) {
    #rowContent {
        img {
            height: 100px;
        }
    }
}
