#footer {
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    font-size: 10px;
    font-weight: lighter;

    #copyright {
        float: right;
        padding: 30px;
        padding-right: 50px;
    }

    #api {
        float: left;
        text-align: center;
        padding-top: 30px;

        a {
            text-decoration: underline;
            color: black;
            font-weight: bold;
        }
    }

    #author {
        float: left;
        padding: 30px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1260px) {
    #footer {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #footer {
        h2{
            width: 30%;
        }
    }
}


